.login-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  margin-top: 40px;
}

.login-title {
  font-size: 28px;
  font-weight: 600;
  color: #333;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form input {
  border: none;
  background-color: #f5f5f5;
  padding: 12px 16px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 16px;
  color: #333;
}

.login-form button {
  background-color: #44645c;
  border: none;
  color: #fff;
  padding: 12px 16px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.login-form button:hover {
  background-color: #3c4d4d;;
}


